* {
  margin: 0;
  padding: 0;
  
}
body {
  width: 100vw;
  height: 100vw;
}

#app h1 {
  text-align: center;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
}

.item-menu {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  border: 2px solid black;
  margin: auto;
  padding: 15px;
}

.item-menu:hover {
  background-color: black;
  color: white;
}

.jeu {
  text-align: center;
}

.carre {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: #ccc;
  cursor: pointer;
  margin: 10px;
  border: 2px solid white;
}

.bleu {
  background-color: blue;
}
.rouge {
  background-color: red;
}
.vert {
  background-color: green;
}
.jaune {
  background-color: rgb(251, 255, 0);
}
.orange {
  background-color: rgb(255, 153, 0);
}
.rose {
  background-color: rgb(238, 80, 204);
}
.magenta {
  background-color: rgb(119, 0, 255);
}
.gold {
  background-color: rgb(182, 138, 29);
}
.black {
  background-color: black;
}
